.MuiIconButton-root {
    outline: none !important;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

nav {
    padding: 20px 5px;
}

.container {
    max-width: 1280px !important
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 !important;
}

.listMenu {
    padding: 0;
    text-align: center;
}

.listMenu ul {
    margin: 0
}

.listMenu li a,
.menuItem span {
    justify-content: center;
}

.listMenu li a:hover {
    color: #fff;
    text-decoration: none
}

.itemCheck.activeMenuHl {
    position: relative;
    background: linear-gradient(180deg, #FDA645 0%, #FF00CD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.itemCheck.activeMenuHl::before {
    top: 30px;
    left: 0px;
    width: 100%;
    height: 5px;
    content: ' ';
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #FDA645 0%, rgba(255, 0, 205, 0) 100%);
}




.activeMenu {
    display: none;
}

.activeMenu a {
    -webkit-text-fill-color: #fff;
}

.dropdown-menu-item {
    position: relative;

}


.menuButton {
    top: 0%;
    color: #000;
    right: 0px;
    position: absolute !important;
    font-size: 25px;
}

.menuUl {
    cursor: pointer;
    display: flex;
    padding: 0;
    align-items: center;
    white-space: nowrap;
    padding-left: 25px;
    justify-content: flex-start;
}

@media (max-width:1279.95px) {
    .menuUl {
        display: block;
        padding: 0;
    }
}

.menuUl li.active {
    background: red;
}

.menuUl li {
    display: flex;
    justify-content: center;
    align-items: center;
}



.menuItem {
    color: #A6ACD6 !important;
    height: 31px;
    padding: 0px 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 54px;
    margin-left: 15px;
    border-radius: 0;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex !important;
    justify-content: center;
    gap: 5px;
    align-items: center !important;
}

.menuItem span {
    display: flex;
    align-items: center;
}

@media (max-width: 900px) {
    .menuItem {
        color: #FFF;
        width: 100%;
        height: auto;
        display: flex;
        padding: 12px 0px !important;
        align-items: flex-start;
        line-height: 24px;
        letter-spacing: -0.6px;
        justify-content: flex-start;
    }
}

.menuItem.activeMenu {
    position: relative;
    background: linear-gradient(180deg, #FDA645 0%, #FF00CD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menuItem[tabIndex]:focus {
    background: linear-gradient(180deg, #FDA645 0%, #FF00CD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menuItem[tabIndex]:active {
    color: #19AAE6;
}

li.menuItem:hover {
    background: linear-gradient(180deg, #FDA645 0%, #FF00CD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li.menuItem:hover li a {
    -webkit-text-fill-color: #fff;
    line-height: 14px
}

.menuItem.activeMenu:before {
    top: 26px;
    left: 0px;
    width: 100%;
    height: 5px;
    content: ' ';
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #FDA645 0%, rgba(255, 0, 205, 0) 100%);
}

@media (min-width:0px) and (max-width:599.95px) {
    .menuItem.activeMenu:before {
        display: none;
    }
}

.dropdown-menu-item span {
    color: #A6ACD6;
}

footer {
    padding: 80px 0px 0;
    z-index: 2;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-image: url(../assets/images/footerimage.png);
    background-position: center;
}

@media (min-width:0px) and (max-width:599.95px) {
    .footer {
        padding: 20px 0px 0;
    }
}

.footer .bottomText {
    font-size: 9px !important;
    text-align: center;
}

.footer .copy {
    color: #626262;
    padding: 42px 0;
    font-size: 12px;
    border-top: 1px solid #202559;
    text-align: left;
    font-weight: 300;
}

.footer ul {
    padding-left: 0;
}

.footer svg {
    color: #408FAC;
    font-size: 15px;
}

.footer h6 {
    font-size: 14px;
    background: linear-gradient(180deg, #FDA645 0%, #FF00CD 100%);
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer a {
    color: #A6ACD6;
    display: flex;
    font-size: 14px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 28px;
    text-decoration: none;
}

.footer a:hover {
    color: #9b05a8;
    text-decoration: none;
}

@media (max-width:599.95px) {
    .footer a {
        font-size: 12px;
        line-height: 10px;
    }
}

@media (max-width:959.95px) {
    .footer h6 {
        margin-top: 30px;
    }
}

@media (max-width:599.95px) {
    .footer h6 {
        font-size: 14px !important;
        margin-top: 20px;
    }
}

@media (max-width:599.95px) {
    .footer p {
        font-size: 12px !important;
        max-width: 100%;
    }
}

@media (max-width:959.95px) {
    .footer ul {
        margin-bottom: 30px;
    }
}

@media (max-width:599.95px) {
    .footer ul {
        margin-bottom: 0px;
    }
}

.footer ul li {
    color: #1D1D1D;
    font-size: 14px;
    align-items: center;
    padding-left: 0;
}

.footer ul li svg {
    color: #408FAC;
    font-size: 15px;
    margin-right: 10px;
}

@media (max-width:599.95px) {
    .footer .copy {
        display: block;
        padding: 19px 0;
        margin-top: 10px !important;
    }
}

.image1 {
    top: 40%;
    left: 8%;
    bottom: 0;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    max-width: 500px;
}

@media (max-width:1279.95px) {
    .image1 {
        display: none;
    }
}

.image2 {
    top: -9.07%;
    left: 70.51%;
    right: 1.34%;
    bottom: 87.91%;
    opacity: 0.1;
    position: absolute;
    max-width: 394px;
}

@media (max-width:1279.95px) {
    .image2 {
        display: none;
    }
}

@media (max-width:599.95px) {
    .od-1 {
        order: 1;
    }
}

.footer-wrap-list-1 {
    display: flex;
    margin-top: 32px;
    align-items: center;
    margin-left: -16px;
}

.footer-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-button-wrap button {
    width: 40px;
    border: 1px solid #522262;
    height: 40px;
    display: flex;
    background: #111430;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.footer-button-wrap button svg {
    color: #fff;
}

.footer-button-wrap button:hover {
    color: #9b05a8;
    border: 1px solid #9b05a8 !important;
}

.footer-button-wrap button:hover svg {
    color: #9b05a8;
}

@media (max-width:599.95px) {
    .od-2 {
        order: 2;
    }
}

.pleft {
    padding-left: 60px;
}

@media (max-width:959.95px) {
    .pleft {
        padding-left: 0px;
    }
}

@media (max-width:599.95px) {
    .od-3 {
        order: 3;
    }
}

.roadmap {
    display: none;
    min-height: 350px;
    max-height: 450px;
}

.roadmap.activeRoadmap {
    display: block;
}

.main-navigation ul li a p {
    width: 120%;
}


@media (min-width: 768px) {
    #mobile {
        display: none !important;
    }

    .flex-end {
        display: flex !important;
        justify-content: flex-end !important;
    }

    .dropdown-menu-item:hover .activeMenu {
        display: block
    }

    .dropdown-menu-item:hover::after {
        content: "";
        height: 10px;
        width: 100%;
        position: absolute;
        background-color: transparent;
        right: 10%;
        top: 80%
    }

    .custom-slick {
        display: none
    }

    .logo-mobile {
        display: none !important;
    }


}

@media (max-width: 768px) {
    #mobile {
        display: block !important;
    }

    #simple-popper {
        right: 50% !important;
        transform: translateX(60%) !important;
    }

    .listMenu, .activeMenu {
        display: none;
    }

    .listMenu.showMenu {
        display: block;
        position: relative;
    }

    .listMenu .menuUl {
        position: absolute;
        right: -200px;
        bottom: -94vh;
        z-index: 99999999;
        height: 100vh;
        background: #0d0f1b;
        padding: 50px 50px 0 0;
        transition: all 1s
    }

    .activeMenu.showChildMenu {
        display: block;
    }

    .dropdown-menu-item span {
        color: #FFF;
    }

    .menuItem {
        color: #FFF !important;
    }

    .itemCheck.activeMenuHl::before {
        top: 80%
    }

    .showMenu .menuUl {
        position: absolute;
        right: -10px;
        bottom: -94vh;
        z-index: 99999999;
        height: 100vh;
        background: #0d0f1b;
        padding: 50px 50px 0 0;
        transition: all 1s
    }

    .listMenu li a, .menuItem span {
        justify-content: flex-start;
    }

    .custom-click {
        display: none;
    }

    .roadmap {
        display: block
    }

    .slick-slide {
        height: auto !important;
    }

    .slick-arrow {
        position: absolute;
        bottom: 0;
        top: auto;
        font-size: 14px;
        color: #fff;
        display: flex !important;
        align-items: center !important;
        font-weight: 400;
    }

    .slick-next:before, .slick-prev:before {
        color: #fff;
        margin-top: -8px;
    }

    .slick-next {
        flex-direction: row-reverse;
    }

    /* slick-prev slick-arrow */
    button:focus {
        outline: none !important;
    }

    .roadmap {
        margin-top: 1rem
    }

    .roadmap .MuiContainer-root.MuiContainer-maxWidthSm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    top: auto;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
}

.slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.26);
}

li.slick-active {
    background-color: #898989;
}

.MuiMobileStepper-dot {}